* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

html {
    font-size: 62.5%;
}

main {
    max-width: 140rem;
    height: auto;

    margin: 0 auto;
    padding: 0 6.4rem;
}