* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

input {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.01rem;
    color: black;
}

html {
    font-size: 62.5%;
}