$color-main-dark: #181A23;
$color-light-green: #C8FA03;
$color-dark-grey: #494A4E;
$color-medium-grey: #9B9CA2;
$color-light-grey: #F5F5F7;
$color-light-grey-2: #C1C2C5;
$color-light-grey-3: #DEDFE2;
$color-light-grey-4: #EBEBED;
$color-light-grey-5: #e1e1e1;

$color-main-purple: #6B1AEE;

$color-error: #EE1A40;
$color-error-2: #e75c62;
$color-error-3: #f8d7da;
$color-error-4: #fff1f2;