.event-item {
    width: 30rem;
    height: 67.5rem;
    border-radius: 2px;
    border: 2px solid $color-medium-grey;

    transition: all .7s;
    overflow: hidden;



    cursor: pointer;

    &:hover {
        border: 2px solid $color-main-purple;

    }

    &__image {
        transition: all .7s;
        max-width: 100%;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__description {
        padding: 2.4rem;
        height: 54%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__category {
        display: inline-block;

        font-family: Inter, sans-serif;
        color: $color-dark-grey;
        font-weight: 400;
        font-size: 1.6rem;
        padding: 1.1rem 2.4rem;

        border: 2px solid $color-medium-grey;
        border-radius: 80rem;

        transition: all .4s;

        &:hover {
            border: 2px solid $color-main-purple;
            background-color: $color-main-purple;
            color: #fff;
        }
    }


    &__icon {
        width: 4.4rem;
        height: 4.4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all .4s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__svgSizeNormalize {
        width: 2rem;
        height: 1.9rem;
    }

    &__content {
        height: 85%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__details-list {
        list-style: none;

        & li:not(:last-child) {
            margin-bottom: 1.7rem;
        }
    }


    &__title {
        font-weight: 600;
        font-size: 2.8rem;
        text-transform: uppercase;

        margin-top: 1.6rem;
    }

    &__datetime {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
    }

    &__date {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: .01rem;

        color: $color-dark-grey;

        &::after {
            content: '';
            display: inline-block;
            width: 2px;
            height: 1.8rem;
            background-color: $color-medium-grey;

            margin-left: 9px;

            transform: translateY(3px);
        }

        &::before {
            content: '';
            display: inline-block;
            mask-image: url('/icons/Home/eventDetails/calendar.svg');
            width: 2rem;
            height: 2rem;
            background-color: $color-main-dark;

            margin-right: 1.4rem;

            transform: translateY(3px);
        }
    }

    &__time {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: .01rem;
        color: $color-dark-grey;
    }

    &__location {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: .01rem;
        color: $color-dark-grey;

        &::before {
            content: '';
            display: inline-block;
            mask-image: url('/icons/Home/eventDetails/geolocation.svg');
            width: 1.4rem;
            height: 2rem;
            background-color: $color-main-dark;


            margin-right: 1.6rem;
            margin-left: 3px;
            mask-size: contain;
            mask-repeat: no-repeat;
            background-repeat: no-repeat;
            transform: translateY(3px);
        }
    }

    &__price {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: .01rem;
        color: $color-dark-grey;


        &::before {
            content: '';
            display: inline-block;
            width: 2rem;
            height: 1.4rem;

            mask-image: url('/icons/Home/eventDetails/currency.svg');
            mask-size: contain;
            mask-repeat: no-repeat;
            background-repeat: no-repeat;
            transform: translateY(1px);

            background-color: $color-main-dark;

            margin-right: 1.2rem;
        }
    }
}