.background {
    opacity: 1;
    transition: all .4s ease-in-out;

    position: absolute;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.425);


    // display: flex;
    // align-items: center;
    // justify-content: center;

    &__box {
        width: 79rem;
        height: 77.5rem;
        background-color: #fff;

        padding: 4rem;

        margin: auto auto;

        &__closeBtn {
            width: 1.4rem;
            height: 1.4rem;

            background-color: transparent;
            border: none;

            cursor: pointer;

            display: flex;

            align-items: center;
            justify-content: center;
        }

        &__header {
            display: flex;
            align-items: center;

            gap: 47rem;

            & h2 {
                font-family: Oswald;
                font-weight: 600;
                font-size: 4rem;
                letter-spacing: .01rem;
                text-transform: uppercase;
            }
        }

        &__citiesList {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 4px;
            column-gap: 1.2rem;

            list-style: none;


            & li {
                display: flex;
                align-items: center;
                padding-left: 1.6rem;

                height: 4.3rem;

                cursor: pointer;

                font-family: Inter, sans-serif;
                font-weight: 400;
                font-size: 1.8rem;
                letter-spacing: .01rem;
                color: $color-dark-grey;

                &:nth-child(-n+7) {
                    font-family: Inter, sans-serif;
                    font-weight: 600;
                    font-size: 1.8rem;
                    letter-spacing: .01rem;
                    color: $color-main-dark;
                }


                transition: all .4s;

                &:hover {
                    background-color: $color-main-purple;
                    color: #fff
                }
            }

        }

        &__input {
            width: 100%;
            height: 6.4rem;

            border: 1px solid $color-medium-grey;
            border-radius: 2px;

            padding-left: 7.4rem;

            font-size: 2rem;
            font-family: Inter, sans-serif;
            font-weight: 400;

            margin-top: 4rem;
            margin-bottom: 2.8rem;

            &::placeholder {
                text-indent: .5rem;

                font-family: Inter, sans-serif;
                font-weight: 400;
                font-size: 2rem;
                letter-spacing: .01rem;

            }

            &:active,
            &:focus {
                outline: none;
                border: 1px solid $color-main-purple;
            }
        }


    }

}

.svgSizeNormalize {
    width: 1.4rem;
    height: 1.4rem;
}

.isHidden {
    opacity: 0;
    pointer-events: none;
}