.container {

    &>h2 {
        font-weight: 600;
        font-size: 6.4rem;
        letter-spacing: .01rem;
        text-transform: uppercase;

        color: $color-main-dark;

        margin-bottom: 6.4rem;
    }

    &>a {
        display: flex;
        justify-content: center;

        margin: 0 auto;
        margin-top: 4rem;

        text-decoration: none;
    }
}