.container {
    &__slider {
        position: relative;
    }

    &__title {
        margin-top: 11.2rem;
        margin-bottom: 6.4rem;

        font-family: Oswald, sans-serif;
        font-weight: 600;
        font-size: 8rem;
        letter-spacing: .01rem;
        text-transform: uppercase;

        & span {
            color: $color-main-purple;
        }
    }

    &>a {
        display: flex;
        justify-content: center;

        margin: 0 auto;
        margin-top: 4rem;

        text-decoration: none;

    }
}