.container {
    background-color: #fff;

    width: 46rem;
    // height: 48rem;



    &__email,
    &__password {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & label {
            font-family: Inter, sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            letter-spacing: .01rem;

            color: $color-dark-grey;
        }

        & input {
            height: 6.4rem;

            padding-left: 2.4rem;

            &::placeholder {
                font-family: Inter, sans-serif;
                font-weight: 400;
                font-size: 1.8rem;
                letter-spacing: .01rem;
            }
        }
    }

    &__email {
        margin-bottom: 2.4rem;
    }

    &__password {
        margin-bottom: 3.4rem;
        position: relative;

    }

    &__img {
        width: 2.8rem;
        height: 1.9rem;

        position: absolute;

        top: 55%;
        right: 5%;

        cursor: pointer;
    }

    & button {
        display: block;
        margin: 0 auto;
    }

}