.organizer-container {
    margin-top: 12.4rem;

    display: flex;

    &__left {
        width: 40%;
        margin-right: 10.4rem;
    }

    &__title {
        font-weight: 600;
        font-size: 6.4rem;
        letter-spacing: .01rem;
        text-transform: uppercase;

        color: $color-main-dark;
    }

    &__text {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: .01rem;
        line-height: 3rem;

        color: $color-medium-grey;

        margin: 1.6rem 0 3.2rem 0;
    }

    &__right {
        display: flex;
        width: 100%;
        align-items: center;

        position: relative;
    }

    &__image {
        width: 23rem;
        height: 23rem;
        border-radius: 50%;

        position: absolute;

        &--1 {
            left: 0
        }

        &--2 {
            left: 25%;
        }

        &--3 {
            left: 50%;
        }

        &--4 {
            left: 75%;
        }


    }
}